/* BODY */

body {
    /*  APPLIES OPEN SANS WITH GREY COLOR TO WHOLE PAGE */
    /*  Desired effect is making all text the grey and sans */
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
    width: 100%;
    font-weight: normal;
}

/*  CLASS FOR TITILLIUM FONT WITH BLUE COLOR */


/*for sub-headings under each page section*/
.leadInHeading {
    font-family: 'Titillium Web', sans-serif;
    color: #001365;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}

/*  CLASS FOR INVERTED HEADER */

.invert {
    margin-top: 15px;
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
    background-color: #001365;
    padding: 10px 10px 10px 15px;
    width: 100%;
    font-size: 1.5rem;
}

/* 01 Nav */

/*scroll-behavior animation for Chrome and FoxFire*/
html {
    scroll-behavior: smooth;
}


nav {
    background-color: #efefef;
    border-bottom: 2px solid #001365;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar {
    position: fixed;
}

.nav-link {
    margin-right: 15px;
    padding: 5px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.nav-link span:hover {
    font-family: 'Titillium Web', sans-serif;
    color: #eeeeee;
    background-color: #001365;
    }


/* 02 Main Section * (Splash section)*/

#splash {
    margin-top: 5rem;
}

#splash-row1 {
    padding: 0 4rem;
    margin: 0 auto;
}

#splash.row{
    margin-top: 8%;
}

#mainPhone {
    width: 100%;
}
#mResLogo {
    margin-top: 4rem;
}

#mainBottomImage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom:0;
    z-index: -1;
}

/* .leadInHeading also the subheading under the mRes Portal image*/
.leadInHeading {
    font-family: 'Titillium Web', sans-serif;
    color: #001365;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}
/* White mResilience Logo that overlays on the people picture under the mobile app image in 02. Main section*/
/*div img#whiteLogo {
    margin: 10% 35%;
    position: absolute;
} */

/* 03 The Why Section */

#why {
    background:#efefef;
    padding: 0 4rem;
    margin: 0 auto;
}


.whyStatements {
    padding: 10px 10px 10px 15px;
}

.secondFont {
    font-size: 1.25rem;
    font-family: 'Titillium Web', sans-serif;
    color: #001365;
    font-weight: bold;
}

.checkBullets { 
    list-style-image: url('Images/02checkmark.svg');
}

.exPt {
    list-style-image: url('Images/02exclamation.svg');
}

.arrow {
    list-style-image: url('Images/02arrow.svg');
}

/* 04 Portal Section*/

#portallogo {
    height: 15%;
    margin-top: 10px;

}

#portal-section {
    color:#3e3e3e;
    background:white;
    width:100%;
    padding: 2rem 4rem;
    margin: 0 auto;
}

#portalImg {
    width:auto;
    height:auto;
    padding: 1rem;
    margin: 1.5rem;
} 

/* 05 contact form */


#contactFormInfo {
    background:#efefef;
    padding: 2rem 4rem;
    margin: 0 auto;
}



/* 05 Contact form border & background color by ID */



.input-row {
    margin-top:10px;    
    margin-bottom:10px;
}

#user-dept {
    background:#efefef;
}

#user-name {
    background:#efefef;
}

#user-last-name {
    background:#efefef;
}

#user-email {
    background:#efefef;
}

#message{
    border-radius: 8px;
    height: 8em;
    border: 1.5px solid #001365;
    background:#efefef;
}

.input-border {
    border-style: none;
    border-bottom: 1.5px solid #001365;
    margin-bottom: .20em;
}

#send{
    width: 100%;
    margin: 1px;
    background-color: #001365;
    border-radius:8px;
}

#send:hover{
    background-color: #EFEFEF;
    color:#001365;
}

/*About*/

#about {
    padding: 2rem 4rem;
    margin: 0 auto; 
}

/*Footer*/
.footer {
    border-top: 2px solid #001365;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background: #efefef;
    text-align: center;
    color: #001365;    
}

.pFooter {
    font-size: 12px;
    margin: 0px;
    line-height: 1.5em;
}

.footerImage {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: #001365;
}



/*when the screen is for a desktop the padding for the 02 Main is change for nicer visual spacing 
@media only screen and (min-width: 550px) {
    
    #mainPhone {
        width: 200%;
    }

};
*/

